.dictionary label {
  font-weight: 600;
  font-style: normal;
  font-size: 32px;
  margin-bottom: 20px;
  display: block;
  line-height: 29px;
  text-align: center;
}
.dictionary section {
  background-color: #a7d7c5;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0/ 10%);
  margin: 20px 0;
}
.dictionary .input {
  width: 80%;
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
  color: #333;
}

.dictionary .search {
  width: 20%;
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
  color: #333;
  font-weight: bold;
  background-color: #74b49b;
}
